<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seasonsfood.mall.service.dispatch.mapper.DispCircuitRelevanceSiteMapper">
    <resultMap id="BaseResultMap" type="com.seasonsfood.mall.service.dispatch.api.domain.DispCircuitRelevanceSite" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="circuit_name" property="circuitName" jdbcType="VARCHAR" />
        <result column="dispatch_id" property="dispatchId" jdbcType="BIGINT" />
        <result column="dispatch_name" property="dispatchName" jdbcType="VARCHAR" />
        <result column="disp_distance" property="disp_distance" jdbcType="TINYINT" />
        <result column="disp_Site_num" property="dispSiteNum" jdbcType="TINYINT" />
        <result column="register_user_num" property="registerUserNum" jdbcType="TINYINT" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
    </resultMap>

    <!--select id="selectTodayDispCircuitRecord"   resultType="com.seasonsfood.mall.service.dispatch.api.result.TodayDispCircuitRecordList">
      SELECT circuit_id,concat (GROUP_CONCAT(circuit_name)) circuit_name ,dispatch_name,SUM(order_total_num) order_total_num,SUM(order_total_money) order_total_money,SUM(disp_distance) disp_distance FROM
     disp_circuit_record WHERE  create_time = #{time}
     GROUP BY dispatch_id  ORDER BY dispatch_orderly,circuit_orderly
    </select-->

    <select id="selcetDispCircuitId"   resultType="java.lang.Long">
     select circuit_id from  disp_circuit_relevance_site dcrs join
 disp_circuit dc on dc.id=dcrs.circuit_id where  dcrs.site_id= #{siteId} and dc.dispatch_id=#{dispatchId}

    </select>

    <!--统计这条线下的配送地点数量-->
    <select id="countCircuitDispSite" resultType="java.lang.Integer">
     select COUNT(*) from disp_circuit_relevance_site dcrs
join disp_site ds on dcrs.site_id=ds.id where dcrs.circuit_id=#{circuitId}
    </select>

    <!--统计这条线下的配送地点数量-->
    <select id="countCircuitRegisterUserNum" resultType="java.lang.Integer">
     select SUM(ds.register_user_num) from
 disp_circuit_relevance_site dcrs
join disp_site ds on dcrs.site_id=ds.id where dcrs.circuit_id=#{circuitId} GROUP BY circuit_id
    </select>

    <!--统计启用配送地点数量和注册用户数量-->
    <select id="countRegisterUserNumAndSiteNum" resultType="com.seasonsfood.mall.service.dispatch.api.result.RegisterUserNumAndSiteNum">
     select SUM(register_user_num) registerUserNum,COUNT(*) siteNum from
 disp_site   where is_del=0 and is_start=1
    </select>
</mapper>