<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seasonsfood.mall.admin.mapper.SysOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.seasonsfood.mall.admin.api.domain.SysOrganization">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="organization_name" property="organizationName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="parent_ids" property="parentIds" jdbcType="VARCHAR"/>
        <result column="is_avaliable" property="isAvaliable" jdbcType="BIT"/>
        <result column="org_type" property="orgType" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultType="com.seasonsfood.mall.admin.api.domain.SysOrganization">
        SELECT *
        FROM sys_organization
        WHERE id = #{id}

    </select>

</mapper>