<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seasonsfood.mall.business.mapper.ShopBaseInfoHasShopUserMapper">
    <select id="findUserIdByShopId">
  SELECT   shop_user_id from shop_base_info_has_shop_user where shop_base_info_id=#{shopId}
</select>
    <select id="findShopIdByUserId">
  SELECT shop_base_info_id from shop_base_info_has_shop_user where shop_user_id=#{userId}
</select>
</mapper>